- name: 'flatpak: Add flathub repository'
  become: True
  become_user: "{{ username }}"
  script: /usr/bin/flatpak remote-add --if-not-exists --user flathub https://dl.flathub.org/repo/flathub.flatpakrepo
  tags: flatpak

- name: 'flatpak: Install flatpak packages (this may take a while)'
  become: true
  become_user: "{{ username }}"
  community.general.flatpak:
    name: "{{ packages }}"
    state: present
    method: "user"
  vars:
    packages:
      - com.discordapp.Discord
      - com.github.d4nj1.tlpui
      - com.github.micahflee.torbrowser-launcher
      - com.github.tchx84.Flatseal
      - org.shotcut.Shotcut
      - org.wesnoth.Wesnoth
  tags: flatpak
