- name: Configure git
  git_config:
    name: "{{ item.name}}"
    value: "{{ item.value }}"
    scope: global
  loop:
    - name: user.name
      value: "Matuzalem Muller"
    - name: user.email
      value: "30294881+matuzalemmuller@users.noreply.github.com"
    - name: gpg.format
      value: "ssh"
    - name: user.signingkey
      value: "/home/matuzalem/.ssh/github.pub"
