- name: "vscode: Get list of installed extensions"
  become: true
  become_user: "{{ username }}"
  shell: "code --list-extensions"
  register: installed_extensions
  changed_when: false
  check_mode: no
  tags: vscode

- name: "vscode: Install extensions"
  become: true
  become_user: "{{ username }}"
  shell: "code --install-extension {{ item }}"
  loop:
    - alefragnani.project-manager
    - formulahendry.code-runner
    - Google.geminicodeassist
    - HashiCorp.terraform
    - ms-azuretools.vscode-docker
    - ms-kubernetes-tools.vscode-kubernetes-tools
    - ms-python.black-formatter
    - ms-python.python
    - ms-vscode-remote.remote-ssh
    - oderwat.indent-rainbow
    - redhat.vscode-yaml
    - rangav.vscode-thunder-client
  when: "item not in installed_extensions.stdout_lines"
  tags: vscode
