[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ladder_systray
Comment=
Exec=/home/{{ username }}/Programs/ladder/ladder_systray_start.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

