[Desktop Entry]
Version=1.0
Name=Whatsapp Web
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="webapp-manager" firefox --class WebApp-aaa6435 --name WebApp-aaa6435 --profile /home/{{ username }}/.local/share/ice/firefox/whatsapp --no-remote "https://web.whatsapp.com"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=call-start
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-WhatsappWeb3834
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://web.whatsapp.com
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
